<h1>Preferences</h1>
<table class="table table-bordered">
<thead>
  <tr>
    <th>Player</th>
    <th>Like</th>
    <th>Dislike</th>
    <th>Email</th>
  </tr>
</thead>
<tbody>
<% @preferences.each do |preference| %>
  <% user = User.find(preference.user_id) %>
  <tr>
  <td><%= user.email %></td>
  <td><%= preference.like %></td>
  <td><%= preference.dislike %></td>
  <td><%= user.email %></td>
  </tr>
<% end %>
</tbody>
</table>
<%= link_to "New preference", new_preference_path %>